---
layout: standard_layout.hbs
---
<div class="faq-content">

    <header class="faq-header">
        <h1>FAQ</h1>
        <div class="faq-subheader">
            <p class="faq-subheader__text">
                Here are some frequently asked questions. If you can't find the answer to your question here,
                <a class="highlight" href="/contact-us.html">just ask!</a> We're happy to help.
            </p>
            <img src="/images/faq/intro.png" class="faq-subheader__img" alt="Valencia Orange answering your frequently asked questions (FAQs)."/>
        </div>
    </header>

    {{#each faq.category}}
        {{#is name ../faqCategory}}
            <a class="faq-answer-anchor" name="answer"></a>
        {{/is}}
        <section class="faq-category">
            <div class="faq-list">
                <header>
                    <h3>{{text}}</h3>
                </header>
                <ul>
                    {{#each questions}}
                        <li>
                            <a href="{{url}}#answer">{{text}}</a>
                        </li>
                    {{/each}}
                </ul>
            </div>
            {{#is name ../faqCategory}}
                <img class="faq-arrow" src="/images/faq/arrows/{{name}}/faq-arrow-{{name}}-0{{ ../../answerNumber }}.png" alt="This should be an arrow."/>
                <div class="faq-answer faq-answer--branding">
                    {{{ ../../answerHtml }}}
                </div>
            {{/is}}
        </section>
    {{/each}}
</div>