---
layout: standard_layout.hbs
---
<div class="portfolio-content">

    <h1><a href="/services/portfolio.html">Portfolio</a></h1>

    {{!-- This is fine, it doesn't use table elements --}}
    {{> servicesTabs }}

    <div id="simplegallery1" class="simple-gallery"></div>

    <img src="/images/page-line.png" alt=""/>

    <section class="project-details">
        <header class="project-details-header">
            <h1>{{ organizationName }}</h1>
        </header>
        <section class="project-details-subsection">
            <header class="project-details-subsection-header">
                <h4>Who They Are</h4>
            </header>
            <ul class="project-details-subsection-points">
                {{#each whoTheyAre}}
                    <li><span>{{ this }}</span></li>
                {{/each}}
            </ul>
        </section>
        <section class="project-details-subsection">
            <header class="project-details-subsection-header">
                <h4>What We Did</h4>
            </header>
            <ul class="project-details-subsection-points">
                {{#each whatWeDid}}
                    <li><span>{{ this }}</span></li>
                {{/each}}
            </ul>
        </section>
    </section>
    <nav class="client-nav">
        {{#if prevClient}}
            <div class="client-link client-link--previous">
                <a class="highlight" href="{{ prevClient }}">&#8592; Previous Client</a>
            </div>
        {{/if}}
        {{#if nextClient}}
            <div class="client-link client-link--next">
                <a class="highlight" href="{{ nextClient }}">Next Client &#8594;</a>
            </div>
        {{/if}}
    </nav>
</div>