---
layout: standard_layout.hbs
---
<div class="services-content">

    <h1 class="services-header">
        <a class="highlight" href="/services/what-we-do.html">
            Services
        </a>
    </h1>

    {{!-- This is fine, it doesn't use table elements --}}
    {{> servicesTabsNew }}

    <div class="what-we-do-banner">
        <div class="what-we-do-nested-banner">
            <h1>What We Do</h1>
            <p>
                We offer a range of branding services, and we're always adding more to meet our clients' needs. Check
                out the links below to learn what we can do for you. Got something in mind that's not listed here?
                <a class="highlight" href="/contact-us.html">Tell us.</a> We just might be able to help you out.
            </p>
        </div>
    </div>

    <section class="available-services">
        <header class="available-services-header">
            <h1>How Can We Help?</h1>
        </header>
        {{#each whatWeDo}}
            <section>
                <header>
                    <h3>
                        {{sectionHeader}}
                    </h3>
                </header>
                {{#each services}}
                    {{#is ../../answerId serviceId}}
                        <a name="answer"></a>
                    {{/is}}
                    <div class="service-link">
                        <a href="{{url}}#answer">
                            <img src="{{image}}" alt="{{image}}"/>
                            <p class="highlight">{{text}}</p>
                        </a>
                        {{#is ../../answerId serviceId}}
                            <div>
                                {{{../../../answerHtml}}}
                            </div>
                        {{/is}}
                    </div>
                {{/each}}
            </section>
        {{/each}}
    </section>
</div>

<style>
    .services-content {
        width: 1000px;
        margin: 0 auto;
        padding-top: 20px;
    }
    .services-header {
        /*display: block;*/
        /*line-height: 0;*/
        vertical-align: bottom;
    }
    .what-we-do-banner {
        /*noinspection CssUnknownTarget*/
        background-image: url("/images/banner-what-we-do.jpg");
        width: 1000px;
        height: 500px;
        margin: 0 auto 50px auto;
        /*vertical-align: bottom;*/
        /*padding: 40px 40px;*/
        position: relative;
    }
    .what-we-do-nested-banner {
        background-color: #FFFFFF;
        width: 440px;
        position: absolute;
        bottom: 42px;
        left: 42px;
        padding: 20px 20px;
    }
    .service-link {
        width: 220px;
        vertical-align: top;
        display: inline-block;
        margin-right: 20px;
    }
</style>